body {
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

    
.btn-primary {
    
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 25px;
}

.header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
}
.banner{
    
    display: flex;
    align-items: center;

}
.first-pic{
    justify-content: space-around;
    width: 535px;
height: 700px;
}

.first-dec{
    flex-direction: column;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
line-height: 30px;
}

.box {
   display: flex;
   
    padding: 110px 78px 0px 76px;
    border-radius: 250px 250px 0px 0px;
    width: 310px;
height: 428px;
position: absolute;
   
   
   
}
.about{
    text-align: center;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}
.section-description{
    size: 5px;
}
.img-ok{
    width: 250px;
    height: 300px;
}
.text{
    float: left;
}