body {
    font-family: "lato", sans-serif;
    font-family: "Open Sans", sans-serif;
  }
  
  .btn-primary {
    border-radius: 8px;
    background: #e55473;
    border: 0px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 10px 25px;
  }

  .header {
    background: rgba(229, 84, 115, 0.1);
    display: flex;
  }
  .banner {
    display: flex;
    align-items: center;
  }
  .first-pic {
    justify-content: space-around;
    width: 535px;
    height: 700px;
  }
  
  .first-dec {
    flex-direction: column;
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  /* FRIST SECTION START */
.frist_section {
  width: 100%;
  height: 400px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
}
.frist_section_text {
  float: left;
  text-align: center;
  margin: 100px 0 0 0;
}
.frist_section_text h2 {
  font-size: 32px;
  font-weight: bold;
}
span {
  color: crimson;
}
.frist_section_text p {
  font-size: 14px;
  color: grey;
  padding-bottom: 24px;
}
.frist_section_text a {
  padding: 12px 22px;
  background-color: crimson;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 11px;
}
.frist_section_img {
  float: left;
}
.frist_section_img img {
  width: 220px;
  height: 283px;
  margin: 65px 0 0 80px;
}
/* FRIST SECTION END */